{% extends 'layout.html' %}

{% block body %}

    <h3>Dashboard</h3>
    <hr>
    <a class="btn btn-info" href="/article/add_article">Add Article</a>
    <hr>
    {% if articles %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Published date</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for article in articles%}
                    <tr>
                    <th scope="row">{{article.id}}</th>
                        <td><a href="/article/{{article.id}}">{{article.title}}</a></td>
                        <td>{{article.author.username}}</td>
                        <td>{{article.created_date}}</td>
                        <td>
                        <a href="/article/update/{{article.id}}" class="btn btn-warning">Update</a>
                        <a href="/article/delete/{{article.id}}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-warning">
            You have no article yet..
        </div>
    {% endif %}

    
{% endblock body %}

